.navbar {
    background-color: cadetblue;
    min-height: 70px;
    color: antiquewhite;
    font-family:'Courier New', Courier, monospace;
}

.navbar p {
    font-size: 40px;
}

header {
    width: 100%;
    min-height: 250px;
    background-color: rgb(3, 3, 80);
    text-align: center;
    padding: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    font-weight: 200;
    color: antiquewhite;
    border-bottom: 8px solid darkslateblue ;
}